<h1>Default settings</h1>
<div class="header">
  <span>P1</span>
  <span class="spacer"></span>
  <span>P2</span>
</div>
<div class="row">
  <input type="checkbox">
  <span>Commander</span>
  <input type="checkbox">
</div>
<div class="row">
  <input type="checkbox">
  <span>Partner</span>
  <input type="checkbox">
</div>
<div class="row">
  <input type="checkbox">
  <span>Poison</span>
  <input type="checkbox">
</div>
<div class="row">
  <input type="checkbox">
  <span>Monarch</span>
  <input type="checkbox">
</div>
<div class="row">
  <input type="checkbox">
  <span>City's blessing</span>
  <input type="checkbox">
</div>
