<?xml version='1.0' encoding='utf-8'?>
<widget id="net.topplegeisteam.counters" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Counters</name>
    <description>
        Life counter application for Magic The Gathering TM ideal for 1vs1 games.
    </description>
    <author email="topplegeist.team@gmail.com" href="https://github.com/topplegeist">
        Topplegeist Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-battery-status" spec="1" />
    <plugin name="https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="res/mipmap-mdpi/counters_ic.png" />
        <icon density="hdpi" src="res/mipmap-hdpi/counters_ic.png" />
        <icon density="xhdpi" src="res/mipmap-xhdpi/counters_ic.png" />
        <icon density="xxhdpi" src="res/mipmap-xxhdpi/counters_ic.png" />
        <icon density="xxxhdpi" src="res/mipmap-xxxhdpi/counters_ic.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <engine name="android" spec="^8.0.0" />
</widget>
