:host {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
}

div.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(2px 2px 4px rgb(164, 114, 11));
}
