:host {
  flex: 5;
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

div.container {
  color: white;
  font-size: 37vw;
  text-shadow: 2px 2px 4px rgb(164, 114, 11);
  margin: auto auto 0;
}

p.operator {
  font-size: 20vw;
}
