:host {
  position: relative;
  width: 100%;
  background: black;
  z-index: 200;
}

:host.closed {
  min-height: 4px;
  background: radial-gradient(ellipse at center, darkgoldenrod -20%, black 80%);
}

:host.opened {
  min-height: 80px;
}
