<div class='carousel' #carousel>
  <ul #container
      [ngClass]="{'panel-container': true, 'transition': transition}"
      [style.left]="getLeft()"
      (touchstart)="tapStart($event)"
      (touchend)="tapEnd()"
      (panleft)="mouseDragged($event.deltaX)"
      (panright)="mouseDragged($event.deltaX)"
      (panend)="mouseDropped($event.deltaX)"
      (pancancel)="mouseDropped($event.deltaX)"
      (transitionend)="transitionDone()"
  >
    <li class='panel plains' #panel1></li>
    <li class='panel island' #panel2></li>
    <li class='panel forest' #panel3></li>
    <li class='panel mountain' #panel4></li>
    <li class='panel swamp' #panel5></li>
  </ul>
</div>
