<div class='carousel' #carousel>
  <ul #container
      [ngClass]="{'panel-container': true, 'transition': transition}"
      [style.left]="getLeft()"
      (touchstart)="tapStart($event)"
      (touchend)="tapEnd()"
      (panleft)="mouseDragged($event.deltaX)"
      (panright)="mouseDragged($event.deltaX)"
      (panend)="mouseDropped($event.deltaX)"
      (pancancel)="mouseDropped($event.deltaX)"
      (transitionend)="transitionDone()"
  >
    <li [ngClass]='{ panel: true, plains: this.playerIndex == 0, swamp: this.playerIndex == 1 }' #panel1></li>
    <li [ngClass]='{ panel: true, island: this.playerIndex == 0, plains: this.playerIndex == 1 }' #panel2></li>
    <li [ngClass]='{ panel: true, forest: this.playerIndex == 0, island: this.playerIndex == 1 }' #panel3></li>
    <li [ngClass]='{ panel: true, mountain: this.playerIndex == 0, forest: this.playerIndex == 1 }' #panel4></li>
    <li [ngClass]='{ panel: true, swamp: this.playerIndex == 0, mountain: this.playerIndex == 1 }' #panel5></li>
  </ul>
</div>
