<div class="container">
  <div class="poison" *ngIf="optionalCountersService.poisonCounterMenu[playerIndex]">
    <div (click)="decreasePoison()"></div>
    <div class="counter" (touchstart)="noPoisonStart()" (touchend)="noPoisonStop()">
      <div class="icon"></div>
      <div class="separator"></div>
      <div class="number">{{optionalCountersService.poisonCounter[playerIndex]}}</div>
    </div>
    <div (click)="increasePoison()"></div>
  </div>
  <div class="poison" *ngIf="!optionalCountersService.poisonCounterMenu[playerIndex]"
       (touchstart)="noPoisonStart()" (touchend)="noPoisonStop()"></div>
  <div class="commander" *ngIf="optionalCountersService.commanderCounterMenu[playerIndex]">
    <div (click)="decreaseCommander()"></div>
    <div class="counter" (touchstart)="noCommanderStart()" (touchend)="noCommanderStop()">
      <div class="icon"></div>
      <div class="separator"></div>
      <div class="number">{{optionalCountersService.commanderCounter[playerIndex]}}</div>
    </div>
    <div (click)="increaseCommander()"></div>
  </div>
  <div class="commander" *ngIf="!optionalCountersService.commanderCounterMenu[playerIndex]"
       (touchstart)="noCommanderStart()" (touchend)="noCommanderStop()"></div>
</div>
