:host {
  flex: 4;
  width: 100%;
  align-items: stretch;
  display: flex;
  z-index: 1;
  color: white;
}

div.container {
  display: flex;
  flex: 1;
  align-items: stretch;
}

div.container .poison, div.container .commander, div.container .partner {
  display: flex;
  flex: 1;
  align-items: stretch;
}

div.container .poison > div, div.container .commander > div, div.container .partner > div {
  display: flex;
  flex: 1;
}

div.container .poison .minus, div.container .commander .minus, div.container .partner .minus,
div.container .poison .plus, div.container .commander .plus, div.container .partner .plus {
  display: flex;
  align-items: center;
  font-size: 2em;
  text-shadow: 1px 1px 2px rgb(164, 114, 11);
}

div.container .poison .minus, div.container .commander .minus, div.container .partner .minus {
  justify-content: flex-end;
}

div.container .poison .plus, div.container .commander .plus, div.container .partner .plus {
  justify-content: flex-start;
}

div.container .poison .minus > div, div.container .commander .minus > div, div.container .partner .minus > div {
  margin-right: 5px;
}

div.container .poison .plus > div, div.container .commander .plus > div, div.container .partner .plus > div {
  margin-left: 5px;
}

div.container .counter {
  flex-direction: column;
  align-items: stretch;
}

div.container .counter .icon-container, div.container .counter .number {
  display: flex;
  flex: 1;
}

div.container .counter .icon {
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  width: 100%;
  height: 100%;
  background-color: white;
}

div.container .counter .icon-container {
  width: 100%;
  height: 100%;
  filter: drop-shadow(1px 1px 2px rgb(164, 114, 11));
}

div.container .counter .separator {
  display: block;
  height: 2px;
  background-color: white;
  filter: drop-shadow(1px 1px 2px rgb(164, 114, 11));
}

div.container .counter .number {
  font-size: 10vw;
  line-height: 15vw;
  color: white;
  align-self: center;
  user-select: none;
  text-shadow: 1px 1px 2px rgb(164, 114, 11);
}

div.container .commander .counter .icon {
  mask-size: 40% auto;
  mask-image: url('../../../assets/icon-commander.svg');
}

div.container.three-instances .commander .counter .icon {
  mask-size: 65% auto;
  mask-image: url('../../../assets/icon-commander-1.svg');
}

div.container .partner .counter .icon {
  mask-size: 65% auto;
  mask-image: url('../../../assets/icon-commander-2.svg');
}

div.container .poison .counter .icon {
  mask-size: 65% auto;
  mask-image: url('../../../assets/icon-poison.svg');
}

div.container.three-instances .poison .counter .icon {
  mask-size: 100% auto;
}
