<div [ngClass]="{'container': true, 'three-instances': optionalCountersService.partnerCounterMenu[playerIndex]}">
  <div class="poison" *ngIf="optionalCountersService.poisonCounterMenu[playerIndex]">
    <div class="minus" (click)="decreasePoison()">
      <div *ngIf="this.hudService.showIcons[playerIndex]">-</div>
    </div>
    <div class="counter" (touchstart)="poisonCloseTimerStart()" (touchend)="poisonCloseTimerStop()">
      <div class="icon-container">
        <div class="icon"></div>
      </div>
      <div class="separator"></div>
      <div class="number">{{optionalCountersService.poisonCounter[playerIndex]}}</div>
    </div>
    <div class="plus" (click)="increasePoison()">
      <div *ngIf="this.hudService.showIcons[playerIndex]">+</div>
    </div>
  </div>
  <div class="poison" *ngIf="!optionalCountersService.poisonCounterMenu[playerIndex]"
       (touchstart)="poisonCloseTimerStart()" (touchend)="poisonCloseTimerStop()"></div>
  <div class="commander" *ngIf="optionalCountersService.commanderCounterMenu[playerIndex]">
    <div class="minus" (click)="decreaseCommander()">
      <div *ngIf="this.hudService.showIcons[playerIndex]">-</div>
    </div>
    <div class="counter" (touchstart)="commanderCloseTimerStart()" (touchend)="commanderCloseTimerStop()">
      <div class="icon-container">
        <div class="icon"></div>
      </div>
      <div class="separator"></div>
      <div class="number">{{optionalCountersService.commanderCounter[playerIndex]}}</div>
    </div>
    <div class="plus" (click)="increaseCommander()">
      <div *ngIf="this.hudService.showIcons[playerIndex]">+</div>
    </div>
  </div>
  <div class="commander" *ngIf="!optionalCountersService.commanderCounterMenu[playerIndex]"
       (touchstart)="commanderCloseTimerStart()" (touchend)="commanderCloseTimerStop()"></div>
  <div class="partner" *ngIf="optionalCountersService.partnerCounterMenu[playerIndex]">
    <div class="minus" (click)="decreasePartner()">
      <div *ngIf="this.hudService.showIcons[playerIndex]">-</div>
    </div>
    <div class="counter" (touchstart)="partnerCloseTimerStart()" (touchend)="partnerCloseTimerStop()">
      <div class="icon-container">
        <div class="icon"></div>
      </div>
      <div class="separator"></div>
      <div class="number">{{optionalCountersService.partnerCounter[playerIndex]}}</div>
    </div>
    <div class="plus" (click)="increasePartner()">
      <div *ngIf="this.hudService.showIcons[playerIndex]">+</div>
    </div>
  </div>
</div>
