:host {
  flex: 1;
  align-self: stretch;
  background-color: #4B946A;
}

div.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container.inverted {
  transform: rotate(180deg);
}

