:host {
  flex: 1;
  align-self: stretch;
  background-color: darkred;
  max-height: 100%;
  display: flex;
  align-items: stretch;
}

div.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100%;
}

div.container.inverted {
  transform: rotate(180deg);
}

