:host {
  flex: 1;
  display: flex;
}

div.container {
  width: 100%;
  flex: 1;
  position: relative;
}

div.container.inverted {
  transform: rotate(180deg);
}

div.container .hud {
  height: calc(50% + 22vw);
  align-self: stretch;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

div.container .hud.optional-menu {
  height: 90%;
}

