:host {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

div.life.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
}

div.life.left, div.life.right {
  flex: 1;
  z-index: 50;
}

div.life.left:not(.no-icon) {
  background: url("assets/icon-minus.svg") 24% calc(100% - 22vw + 6vw)/12vw no-repeat;
}

div.life.right:not(.no-icon) {
  background: url("assets/icon-plus.svg") 76% calc(100% - 22vw + 6vw)/12vw no-repeat;
}

div.life img {
  margin: auto;
}
