:host {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

div.life.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
}

div.life.left:not(.fast), div.life.right:not(.fast) {
  flex: 3;
  z-index: 50;
}

div.life.left.fast, div.life.right.fast {
  flex: 1;
  z-index: 50;
}

div.life.left.fast:not(.no-icon) {
  background: url("assets/icon-plus-minus-5.svg") 50% calc(100% - 27vw + 6vw)/12vw no-repeat;
  background-size: 20%;
}

div.life.right.fast:not(.no-icon) {
  background: url("assets/icon-plus-minus-5.svg") 50% calc(100% - 27vw + 6vw)/12vw no-repeat;
  background-size: 20%;
}

div.life.left:not(.no-icon):not(.fast) {
  background: url("assets/icon-minus.svg") 0 calc(100% - 22vw + 6vw)/12vw no-repeat;
}
div.life.left:not(.no-icon):not(.fast).full-width{
  background-position-x: 15%;
}

div.life.right:not(.no-icon):not(.fast) {
  background: url("assets/icon-plus.svg") 100% calc(100% - 22vw + 6vw)/12vw no-repeat;
}
div.life.right:not(.no-icon):not(.fast).full-width{
  background-position-x: 85%;
}

div.life img {
  margin: auto;
}
