@font-face {
  font-family: Beleren;
  src: url('assets/JaceBeleren-Bold.ttf');
}

@font-face {
  font-family: Mplantin;
  src: url('assets/Mplantin.ttf');
}

html {
  background-color: black;
  height: 100%;
}

body {
  height: 100%;
}

* {
  font-family: Beleren, serif;
  padding: 0;
  margin: 0;
}

html {
  user-select: none;
}

input, textarea {
  user-select: text;
}

.content {
  user-select: text;
}
