@font-face {
  font-family: Beleren;
  src: url('assets/JaceBeleren-Bold.ttf');
}

@font-face {
  font-family: Mplantin;
  src: url('assets/Mplantin.ttf');
}

html {
  background-color: white;
  font-family: Beleren;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}
