:host {
  display: flex;
  flex-direction: row;
  background: rgba(0,0,0, 0.98);
}

div {
  margin: 21px 2px;
  flex-grow: 1;
  text-align: center;
  font-size: 22px;
  color: white;
  display: block;
}
